.tool-tip {
    position: absolute;
    top: 40%;
    left: -50px;
    background: grey;
    width: 200px;
    height:300px;
}
.tool-tip table {
    word-wrap: break-word;
    table-layout: fixed;
    height:300px;
}
.tool-tip tr td:first-child{
    text-align: left;
    width: 100px;
}
.tool-tip tr td:last-child{
    text-align: right;
    width:200px;
}
.tool-tip td {
    border: solid 1px black;
}